{% extends 'base.html' %}

{% block 'conteudo' %}
    {% if perfil.foto_perfil %}
        <img src="{{ perfil.foto_perfil.url }}" alt='Esta é a imagem'>

    {% endif %}

    {% if perfil.nome %}
        <h1>Olá {{ perfil.nome }} {{ perfil.sobrenome }}</h1>

    {% else %}
        <h1>Olá {{ user.username }}</h1>
    {% endif %}

    <button type='button'>
        <a href={% url 'prova:prova_criar' %}>Criar Prova</a>
    </button>

    {% block 'dashboard' %}

        {% for prova in provas %}
            <a href="{% url 'prova:prova_detalhe' prova.slug %}">
                {{prova.nome_prova}} {{prova.serie}}
            </a>
        {% endfor %}
    
    {% endblock %}

{% endblock %}